In [16]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('all_projects_normalized.csv')

In [15]:
df.head()

,version,metric,date,value,normalized_value,project_name
0,1,bugs,2019-07-03T14:39:33-0300,911.0,0.006785,aframe
1,2,bugs,2019-07-03T14:42:07-0300,911.0,0.006785,aframe
2,3,bugs,2019-07-03T14:44:41-0300,911.0,0.006785,aframe
3,4,bugs,2019-07-03T14:47:20-0300,911.0,0.006785,aframe
4,5,bugs,2019-07-03T14:50:01-0300,911.0,0.006785,aframe

In [16]:
def isCI(version):
    if version <= 48:
        return 'NO_CI'
    elif version <= 96:
        return 'EARLY_CI'
    else:
        return 'LATE_CI'
    
df['type'] = df['version'].apply(isCI)

In [17]:
df.head()

,version,metric,date,value,normalized_value,project_name,type
0,1,bugs,2019-07-03T14:39:33-0300,911.0,0.006785,aframe,NO_CI
1,2,bugs,2019-07-03T14:42:07-0300,911.0,0.006785,aframe,NO_CI
2,3,bugs,2019-07-03T14:44:41-0300,911.0,0.006785,aframe,NO_CI
3,4,bugs,2019-07-03T14:47:20-0300,911.0,0.006785,aframe,NO_CI
4,5,bugs,2019-07-03T14:50:01-0300,911.0,0.006785,aframe,NO_CI

In [33]:
df2 = df
df2['version'] = df2['version'].apply(lambda x : x%48)

d = {0:48}
df2.replace({'version': d}, inplace=True)
df2.version.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48])

In [38]:
table = pd.pivot_table(df2, index=['project_name', 'type'], columns=['version'], values='normalized_value')
table.head()
table.to_csv('vdcxx.csv', index=True)

In [13]:
df_bugs = df[df.metric == 'bugs']
df_smells = df[df.metric == 'code_smells']
df_duplicated = df[df.metric == 'duplicated_lines_density']
df_debt = df[df.metric == 'sqale_debt_ratio']

df_bugs.drop('metric', axis=1, inplace=True)
df_smells.drop('metric', axis=1, inplace=True)
df_duplicated.drop('metric', axis=1, inplace=True)
df_debt.drop('metric', axis=1, inplace=True)

#df_bugs.to_csv('bugs.csv', index=False)
#df_smells.to_csv('code_smells.csv', index=False)
#df_duplicated.to_csv('duplicated_lines.csv', index=False)
#df_debt.to_csv('debt_ratio.csv', index=False)

In [52]:
bugs = pd.read_csv('duplicated_lines.csv')
bugs.head()

,version,date,value,normalized_value,project_name,type
0,1,2019-07-03T14:39:33-0300,70.6,0.000526,aframe,NO_CI
1,2,2019-07-03T14:42:07-0300,70.6,0.000526,aframe,NO_CI
2,3,2019-07-03T14:44:41-0300,70.6,0.000526,aframe,NO_CI
3,4,2019-07-03T14:47:20-0300,70.6,0.000526,aframe,NO_CI
4,5,2019-07-03T14:50:01-0300,70.6,0.000526,aframe,NO_CI

In [53]:
bugs['version'] = bugs['version'].apply(lambda x : x%48)

d = {0:48}
bugs.replace({'version': d}, inplace=True)
bugs.to_csv('duplicated_lines_for_r.csv', index=False)
bugs.head(100)

,version,date,value,normalized_value,project_name,type
0,1,2019-07-03T14:39:33-0300,70.6,0.000526,aframe,NO_CI
1,2,2019-07-03T14:42:07-0300,70.6,0.000526,aframe,NO_CI
2,3,2019-07-03T14:44:41-0300,70.6,0.000526,aframe,NO_CI
3,4,2019-07-03T14:47:20-0300,70.6,0.000526,aframe,NO_CI
4,5,2019-07-03T14:50:01-0300,70.6,0.000526,aframe,NO_CI
...,...,...,...,...,...,...
95,48,2019-07-03T17:43:04-0300,73.5,0.000511,aframe,EARLY_CI
96,1,2019-07-03T17:45:50-0300,54.8,0.000419,aframe,LATE_CI
97,2,2019-07-03T17:48:09-0300,54.8,0.000419,aframe,LATE_CI
98,3,2019-07-03T17:50:27-0300,54.8,0.000419,aframe,LATE_CI
99,4,2019-07-03T17:52:47-0300,54.8,0.000419,aframe,LATE_CI

In [50]:
table = pd.pivot_table(bugs, index=['project_name', 'type'], columns=['version'], values='normalized_value')
table.head()

version                      1         2         3         4         5   \
project_name type
Aloha-Editor EARLY_CI  0.006003  0.006001  0.005998  0.005998  0.005987
             LATE_CI   0.005993  0.005993  0.005992  0.005992  0.005992
             NO_CI     0.006236  0.006236  0.006236  0.006236  0.006236
Babylon.js   EARLY_CI  0.000253  0.000251  0.000252  0.000235  0.000235
             LATE_CI   0.000622  0.000643  0.000657  0.000653  0.000634

version                      6         7         8         9         10  ...  \
project_name type                                                        ...
Aloha-Editor EARLY_CI  0.006005  0.005973  0.005978  0.005978  0.006004  ...
             LATE_CI   0.005992  0.005992  0.005992  0.005999  0.005999  ...
             NO_CI     0.006236  0.006236  0.006235  0.006229  0.006228  ...
Babylon.js   EARLY_CI  0.000234  0.000234  0.000233  0.000232  0.000232  ...
             LATE_CI   0.000634  0.000640  0.000639  0.000638  0.000648  ...

version                      39        40        41        42        43  \
project_name type
Aloha-Editor EARLY_CI  0.005866  0.005866  0.005868  0.005866  0.005866
             LATE_CI   0.006305  0.006305  0.006305  0.006305  0.006305
             NO_CI     0.006190  0.006190  0.006177  0.006177  0.006177
Babylon.js   EARLY_CI  0.000225  0.000229  0.000225  0.000224  0.000243
             LATE_CI   0.000823  0.000733  0.000509  0.000513  0.000511

version                      44        45        46        47        48
project_name type
Aloha-Editor EARLY_CI  0.006000  0.005865  0.006013  0.005861  0.005860
             LATE_CI   0.006305  0.006305  0.006305  0.006305  0.006305
             NO_CI     0.006177  0.006173  0.006013  0.006011  0.006005
Babylon.js   EARLY_CI  0.000253  0.000253  0.000252  0.000254  0.000254
             LATE_CI   0.000745  0.000745  0.001283  0.001278  0.001284

[5 rows x 48 columns]

In [60]:

table.to_csv('bugs_for_r.csv')